<nav class="navbar">
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <label for="nav-toggle" class="icon-burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </label>
    <ul class="links">
        <li><a href="#home"><img src="../images/home.svg" alt="Home"></a></li>
        <li><a href="#projects"><img src="../images/projects.svg" alt="Projects"></a></li>
        <li><a href="#about"><img src="../images/about.svg" alt="About"></a></li>
        <li><a href="#skills"><img src="../images/skills.svg" alt="Skills"></a></li>
        <li><a href="#contact"><img src="../images/contact.svg" alt="Contact"></a></li>
    </ul>
</nav>
